html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

a {
    text-decoration: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*----------*/


body {
    width:100%;
    font-family: 'Varela Round', sans-serif;
    /* Sourcing Background Image from a Forbes Article */
    
    background:url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Feustaciahuen%2Ffiles%2F2018%2F03%2FMany-oscars-1200x795.jpg) no-repeat 100% 100% / cover fixed;

    
}

body:after {
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(
        rgba(224,201,87,0.5),
        rgba(224,201,87,0));
        z-index:-1;
}

header {
    width:100%;
    letter-spacing: 1px;
    height:50px;
    background:white;
    box-shadow: 0 1px 50px rgba(0,0,0,0.3)
}

h1 {
    font-size:20px;
    color:#e0c957;
    text-transform: uppercase;
    text-align:center;
    padding: 14px 0 8px;
    font-family:"Playfair Display", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#efd100 0,#e2a233 38%,#f0c328 60%,#fff1a3 86%,#ffe13e 100%);
}

nav {
    text-align:center;
}

nav ul li {
    background:#e0c957;
    padding:5px 10px;
    color:white;
    font-family:"Varela Round";
    display:inline-block;
    font-size:14px;
    font-weight: bold;
    letter-spacing: 0px;
    border-bottom: 2px solid white;
}

main {
    box-shadow:0 0px 30px 1px rgba(0,0,0,0.3);
    width: 80%;
    height: auto;
    padding: 3% 5%;
    border-top: 10px solid #e0c957;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-radius:25px;
    margin: 75px auto 50px;
    background: #fff;
    position:relative;
}

h2 {
    text-align:center;
    font-size:48px;
    text-transform:uppercase;
    font-family:"Playfair Display", sans-serif;
    position:relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#efd100 0,#e2a233 35%,#f0c328 40%,#fff1a3 86%,#ffe13e 100%);
    text-shadow: 0px 0px 10px rgba(240,202,87,0.3);
}
   
h2 span {
    font-size:20px;
    font-style:italic;
    font-family:"Varela Round";
}

h2:after {
    content:"";
    position:absolute;
    bottom:-25px;
    left:50%;
    transform:translateX(-50%);
    width:150px;
    height:2px;
    background:#e0c957;
}

p {
    padding-top:45px;
    line-height:140%;
    max-width:450px;
    margin:0 auto;
    text-align:center;
}

h3 {
    max-width:350px;
    text-align: center;
    font-size: 12px;
    margin: 40px auto;

}

.welcome {

}

.quiz-type-container {
    padding-top:20px;
    text-align:center;
}

a.quiz-type-btn {
    display:inline-block;
    background:#e0c957;
    padding:12px;
    color:white;
    font-size:20px;
    border-radius:4px;
    margin:10px;
    border:2px solid #d3c949;  
    transition: all 300ms ease;  
    -webkit-box-shadow: 0px 4px 18px 0px rgba(240,202,87,1);
    -moz-box-shadow: 0px 4px 18px 0px rgba(240,202,87,1);
    box-shadow: 0px 4px 18px 0px rgba(240,202,87,1);
}

a.quiz-type-btn:hover {
    background:#e6cc4c;
    -webkit-box-shadow: 0px 7px 18px 0px rgba(240,202,87,1);
    -moz-box-shadow: 0px 7px 18px 0px rgba(240,202,87,1);
    box-shadow: 0px 7px 18px 0px rgba(240,202,87,1);
}

.question-container {
    display:none;
    text-align:center;
    padding-top:10px;
    position:relative;
}

.question-container .question {
    font-family:"Playfair Display", sans-serif;
    font-size:40px;
}

.question-container .answers {
    padding:15px 0 10px;
}

.question-number {
    color:goldenrod;
    padding-top:2px;
}

.answers ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

.answers ul li {
    flex: 0 0 20%;
    padding:20px 10px;
    font-size:18px;
    cursor:pointer;
    transition: all 300ms ease;
    /* border-left:5px solid white;
    border-style:solid;
    border-right:5px solid white; */
}

.answers ul li:hover {
    /* border:5px solid #e0c957; */
    background:#e0c957;
    color:white;
    box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
}

.overlay {
    position: absolute;
    background: rgba(255,255,255,0.95);
    padding: 30px;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 0;
    bottom:0;
    display:none;
    align-content: center;
    justify-content: center;
    flex-direction:column;
}

#result {
    font-size: 32px;
    line-height: 150%;
}

.next-btn {
    margin:15px auto 0!important;
    padding: 6px 12px !important;
    max-width: 300px;

}

#score {
    text-align: center;
    font-size: 20px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -46px;
    background: white;
    padding: 4px 10px 1px;
    border-top: 6px solid #e0c957;
    border-left: 6px solid #e0c957;
    border-right: 6px solid #e0c957;
    display:none;
}

div#score:before {
    content: "Score";
    display: block;
    font-size: 12px;
    padding-bottom: 3px;
    color:#e0b057;
}

img {
    width:100%;
    height:auto;
    pointer-events: none;
    margin-top:10px;
    display:block;
}

.final-score {
    text-align: center;
    padding-top: 60px;
    font-size: 22px;
    padding-bottom:20px;
}


.final-score span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#efd100 0,#e2a233 35%,#f0c328 40%,#fff1a3 86%,#e2a233 100%);
    font-family:"Playfair Display", sans-serif;
    font-size:42px;
}

/*----------*/


@media screen and (max-width:1080px) {
    .answers ul li {
        flex: 0 0 23%;
    }
}

@media screen and (max-width:768px) {
    .answers ul li {
        flex: 0 0 40%;
    }

    #result {
        font-size:22px;
    }
}
